[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.5.30"
chardet = "==4.0.0"
charset-normalizer = "==2.0.4"
greenlet = "==1.1.1"
idna = "==3.2"
kiwisolver = "==1.3.2"
lxml = "==4.6.3"
matplotlib = "==3.4.3"
mplfinance = "==0.12.3a3"
numexpr = "==2.7.3"
numpy = "==1.21.2"
pandas = "==1.3.2"
pyodbc = "==4.0.32"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.2"
pytz = "==2021.1"
requests = "==2.26.0"
six = "==1.16.0"
tables = {file = "https://download.lfd.uci.edu/pythonlibs/y2rycu7g/tables-3.6.1-cp39-cp39-win_amd64.whl"}
tabulate = "==0.8.9"
urllib3 = "==1.26.6"
Cycler = "==0.10.0"
Pillow = "==8.3.2"
SQLAlchemy = "==1.4.23"

[dev-packages]

[requires]
python_version = "3.9"
